html,
body {
  background-color: #23262f;
  font-family: "Share Tech Mono", monospace;
  color: white;
  scroll-behavior: smooth;
}

nav {
  margin: 0;
  height: 5rem;
  background-color: #23262f;
}

hr {
  background-color: #00e5ee;
}

object {
  box-shadow: 5px 5px 18px #00e5ee !important;
  border-radius: 10px;
  margin-bottom: 25px;
}

.navbar-nav {
  background-color: #23262f;
}

.nav-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.navbar-brand {
  font-size: 2rem;
  color: #00e5ee;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 2rem;
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  font-size: 2rem;
  color: #00e5ee;
  text-decoration: underline;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-linkk {
  color: #00e5ee;
  text-decoration: underline;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-fixed-top {
  top: -70px; /* you'll have to figure out the exact number here */
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: relative; /* this can also be static */
}

.card {
  border-radius: 10px !important;
  padding: 1px;
}

.card-header {
  border-radius: 7px !important;
  background-color: #31363f !important;
}

@media screen and (max-width: 800px) {
  .typewriter1 {
    font-size: 25px !important;
  }

  .typewriter2 {
    font-size: 15px !important;
  }

  h1.cursor::after {
    height: 20px !important;
    width: 10px !important;
  }

  p.cursor::after {
    height: 15px !important;
    width: 7px !important;
  }

  .navbar-brand {
    font-size: 1.7rem !important;
  }

  .about {
    font-size: 24px !important;
  }

  .awards-title {
    margin-top: 50px !important;
  }

  .projects-div {
    margin-top: 50px !important;
  }

  .projects-subtitle {
    font-size: 20px !important;
  }

  .project-item {
    height: 210px !important;
  }

  .team-dnhscs {
    font-size: 1.3rem !important;
  }

  .contact-title {
    margin-top: 50px !important;
  }

  .contact {
    font-size: 20px !important;
  }
}

.mb-0 {
  font-size: 1.6rem;
}

.main-box {
  margin-top: 30vh;
  height: 70vh;
}

.box {
  height: 100vh;
  padding-top: 5rem;
}

.title {
  font-size: 60px;
  color: white;
}

.main-content {
  margin-top: 50px;
}

.container {
  transition: padding 500;
}

.container-is-open {
  padding-top: 200px;
}

.awards-accordion {
  box-shadow: 5px 7px 20px #00e5ee !important;
}

.award-highlight {
  color: #00e5ee;
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  width: 520px;
  height: 150px;
  background-color: #31363f;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 12px #00e5ee !important;
  text-align: left;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.project-link {
  color: white;
}

.project-link:hover {
  color: white;
  text-decoration: underline;
}

.project-description {
  font-size: 1rem;
  color: #9da5b4;
  margin-bottom: 5px;
}

.project-lang {
  display: inline-block;
  overflow: visible;
}

.team-box {
  text-align: center;
}

.team {
  margin: 0 auto;
  background-color: #31363f;
  color: white;
  border-radius: 10px;
  padding: 20px 25px;
}

.team:hover {
  border-color: rgba(255, 255, 255, 0.116);
  color: #00e5ee;
  box-shadow: 5px 5px 18px #00e5ee !important;
}

.team-name {
  width: 92%;
}

.team {
  padding: 10px;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}

.team span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  .team {
    margin: 0 auto;
    background-color: #36393f94;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .team span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    font-size: 1.5rem;
  }
}

.team span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #00e5ee;
}

.team:hover span {
  padding-right: 25px;
}

.team:hover span:after {
  opacity: 1;
  right: 0;
}

.contact {
  font-size: 2.5rem;
}

.contact-link {
  color: #00e5ee;
}

.contact-link:hover {
  color: #00e5ee;
}

.shadow {
  box-shadow: 0 0.5rem 1rem #00e6ee5d !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + .content {
  padding-top: 60px;
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(0, 120, 170, 1) 0%,
    rgba(0, 245, 255, 1) 49%,
    rgba(56, 187, 125, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.output {
  text-align: center;
  color: white;
}

.cursor::after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  background-color: #00e5ee;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.rotate:hover {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

h1.cursor::after {
  height: 43px;
  width: 20px;
}
p.cursor::after {
  height: 26px;
  width: 12px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00e5ee;
  background: linear-gradient(
    180deg,
    rgba(0, 120, 170, 1) 0%,
    rgba(0, 245, 255, 1) 49%,
    rgba(56, 187, 125, 1) 100%
  );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00e5ee;
  background: linear-gradient(
    180deg,
    rgba(0, 120, 170, 1) 0%,
    rgba(0, 245, 255, 1) 49%,
    rgba(56, 187, 125, 1) 100%
  );
  border-radius: 10px;
}
