@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

:root {
    --background: #2b292e;
    --foreground: #f8f8f2;
    --accent: #75715e;
    --red: #ff6188;
    --orange: #fc9867;
    --yellow: #ffd866;
    --green: #a9dc76;
    --blue: #78dce8;
    --purple: #ab9df2;
}

html,
body {
    margin: 0;
    background-color: #2b292e;
    font-family: 'Baloo Tamma 2', cursive;
    color: white;
    scroll-behavior: smooth;
}

.navbar {
    float: right;
    display: inline-block;
    margin-right: 1rem;
}

.navbar-logo {
    display: inline-block;
    margin-left: 1rem;
}

.navbar-logo img {
    display: inline;
    width: 4em;
    height: 4em;
    margin: 1.5rem 0.5rem;
    float: left;
}

.navbar-logo p {
    display: inline;
    float: right;
    color: var(--foreground);
    font-size: 2rem;
    margin: 1.5rem 0.3rem;
}

.navbar-logo:hover p {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #a9dc76, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 3s ease infinite;
    -moz-animation: gradientAnimation 3s ease infinite;
    -o-animation: gradientAnimation 3s ease infinite;
    animation: gradientAnimation 3s ease infinite;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 1rem 0;
}

.navbar li {
    display: inline-block;
    margin: 0.5rem 1rem;
    font-size: 2rem;
}

.navbar a {
    text-decoration: none;
}

.navbar ul li:nth-child(1) a {
    color: var(--red);
}

.navbar ul li:nth-child(2) a {
    color: var(--green);
}

.navbar ul li:nth-child(3) a {
    color: var(--blue);
}

.navbar ul li:nth-child(1) a:hover {
    text-decoration: underline;
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #a9dc76, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.navbar ul li:nth-child(2) a:hover {
    text-decoration: underline;
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #a9dc76, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.navbar ul li:nth-child(3) a:hover {
    text-decoration: underline;
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #a9dc76, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.navbar-mobile {
    display: none;
    overflow: hidden;
    position: fixed;  
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.navbar-mobile ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: auto;
}

.navbar-mobile li {
    display: inline-block;
    margin: 0.5rem 1rem;
    font-size: 2rem;
}

.navbar-mobile ul li:nth-child(1) a {
    color: var(--red);
}

.navbar-mobile ul li:nth-child(2) a {
    color: var(--green);
}

.navbar-mobile ul li:nth-child(3) a {
    color: var(--blue);
}

.navbar-mobile ul li:nth-child(1) a:hover {
    text-decoration: underline;
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #a9dc76, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.navbar-mobile ul li:nth-child(2) a:hover {
    text-decoration: underline;
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #a9dc76, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.navbar-mobile ul li:nth-child(3) a:hover {
    text-decoration: underline;
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #a9dc76, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.gradient-text-animation {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #a9dc76, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 15s ease infinite;
    -moz-animation: gradientAnimation 15s ease infinite;
    -o-animation: gradientAnimation 15s ease infinite;
    animation: gradientAnimation 15s ease infinite;
}

.gradient-animation {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #a9dc76, #78dce8, #ab9df2);
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 15s ease infinite;
    -moz-animation: gradientAnimation 15s ease infinite;
    -o-animation: gradientAnimation 15s ease infinite;
    animation: gradientAnimation 15s ease infinite;
}

@-webkit-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-o-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 20px;
}

.home h1 {
    font-size: 5rem;
    margin-bottom: 0;
    line-height: 1;
}

.home h2 {
    font-size: 2.5rem;
    margin-top: 0;
}

.home h2 span:nth-child(1) {
    color: var(--red);
}

.home h2 span:nth-child(2) {
    color: var(--green);
}

.home h2 span:nth-child(3) {
    color: var(--blue);
}

@media screen and (max-width: 800px) {
    .navbar-logo {
        display: none;
    }

    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: flex;
    }
}
