@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

:root {
    --background: #2b292e;
    --foreground: #f8f8f2;
    --accent: #75715e;
    --red: #ff6188;
    --orange: #fc9867;
    --yellow: #ffd866;
    --green: #a9dc76;
    --blue: #78dce8;
    --purple: #ab9df2;
}

html,
body {
    background-color: #2b292e;
    font-family: 'Baloo Tamma 2', cursive;
    color: white;
    scroll-behavior: smooth;
}

.navbar {
    float: right;
    display: inline;
}

.navbar-logo {
    display: inline;
}

.navbar-logo img {
    width: 4em;
    height: 4em;
    margin: 0.5rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 1rem 0;
}

.navbar li {
    display: inline;
    margin: 1rem;
    font-size: 2rem;
}

.navbar a {
    text-decoration: none;
}

.navbar ul li:nth-child(1) a {
    color: var(--red);
}

.navbar ul li:nth-child(2) a {
    color: var(--green);
}

.navbar ul li:nth-child(3) a {
    color: var(--blue);
}
