@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

:root {
    --background: #2b292e;
    --background-alternate: #3d3b40;
    --background-dark: #211f22;
    --foreground: #f8f8f2;
    --accent: #75715e;
    --red: #ff6188;
    --orange: #fc9867;
    --yellow: #ffd866;
    --green: #00d787;
    --blue: #00d7ff;
    --purple: #ab9df2;
}

html,
body {
    margin: 0;
    background-color: #2b292e;
    font-family: 'Baloo Tamma 2', cursive;
    color: white;
    scroll-behavior: smooth;
}

footer {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

h1, h2 {
    font-weight: normal;
}

hr {
    height: 2px;
    border: none;
    outline: none;
}

nav {
    z-index: 9999999999999999999999999999999999999999999999999999999;
    background-color: var(--background);
    position: fixed;
    top: 0;
    width: 100%;
    height: 115px;
}

.navbar {
    float: right;
    display: inline-block;
    margin-right: 1rem;
}

.nav-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.nav-mobile-shadow {
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.navbar-logo {
    display: inline-block;
    margin-left: 1rem;
}

.navbar-logo img {
    display: inline;
    width: 4em;
    height: 4em;
    margin: 1.5rem 0.5rem;
    float: left;
}

.navbar-logo:hover img {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.navbar-logo p {
    display: inline;
    float: right;
    color: var(--foreground);
    font-size: 2rem;
    margin: 1.5rem 0.3rem;
}

.navbar-logo:hover p {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 3s ease infinite;
    -moz-animation: gradientAnimation 3s ease infinite;
    -o-animation: gradientAnimation 3s ease infinite;
    animation: gradientAnimation 3s ease infinite;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 1rem 0;
}

.navbar li {
    display: inline-block;
    margin: 0.5rem 1rem;
    font-size: 2rem;
}

.navbar a {
    text-decoration: none;
}

.navbar ul li:nth-child(1) a {
    color: var(--red);
}

.navbar ul li:nth-child(2) a {
    color: var(--green);
}

.navbar ul li:nth-child(3) a {
    color: var(--blue);
}

.navbar ul li:nth-child(1) a:hover {
    text-decoration: underline;
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.navbar ul li:nth-child(2) a:hover {
    text-decoration: underline;
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.navbar ul li:nth-child(3) a:hover {
    text-decoration: underline;
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.navbar-mobile {
    display: none;
    overflow: hidden;
    position: fixed;  
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    background-color: var(--background);
}

.navbar-mobile ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: auto;
}

.navbar-mobile li {
    display: inline-block;
    margin: 0.5rem 1rem;
    font-size: 2rem;
}

.navbar-mobile ul li:nth-child(1) a {
    color: var(--red);
}

.navbar-mobile ul li:nth-child(2) a {
    color: var(--green);
}

.navbar-mobile ul li:nth-child(3) a {
    color: var(--blue);
}

.navbar-mobile ul li:nth-child(1) a:hover {
    text-decoration: underline;
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.navbar-mobile ul li:nth-child(2) a:hover {
    text-decoration: underline;
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.navbar-mobile ul li:nth-child(3) a:hover {
    text-decoration: underline;
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.gradient-text-animation {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.gradient-animation {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.gradient-text-animation-hover:hover {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.gradient-animation-hover:hover {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}
@-webkit-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-o-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 20px;
}

.home {
    padding-top: 11rem;
    height: 72vh;
}

.home h1 {
    font-size: 5rem;
    margin-bottom: 0;
    line-height: 1;
}

.home h2 {
    font-size: 2.5rem;
    margin: 0;
}

.home h2 span:nth-child(1) {
    color: var(--red);
}

.home h2 span:nth-child(2) {
    color: var(--green);
}

.home h2 span:nth-child(3) {
    color: var(--blue);
}

.home h3 {
    display: none;
}

.home h3 span:nth-child(1) {
    color: var(--red);
}

.home h3 span:nth-child(3) {
    color: var(--green);
}

.home h3 span:nth-child(5) {
    color: var(--blue);
}

.social-icons {
    vertical-align: center;
}

.social-icons a {
    color: var(--background);
}

.social-icons svg {
    transition: .3s;
}

.social-icons svg:hover {
    transform: rotate(360deg);
    transition: .5s;
}

.social-icons svg {
    display: inline;
    margin: auto 15px;
}

.social-icons a:nth-child(1) svg {
    margin-left: 0;
}

.social-icons a:nth-child(1) svg:hover path {
    fill: var(--red);
}

.social-icons a:nth-child(2) svg:hover path {
    fill: var(--green);
}

.social-icons a:nth-child(3) svg:hover path {
    fill: var(--blue);
}

.social-icons a:nth-child(4) svg:hover path {
    fill: var(--purple);
}

.devpost-d {
    fill: var(--background) !important;
}

.down-arrow {
    width: 100%;
    height: 5rem;
    text-align: center;
}

.down-arrow img {
    width: 3rem;
    margin-bottom: 2rem;
    transition: 0.5s all cubic-bezier(0.1, 0.5, 0.7, 1.4);
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0% {
        transform: translateY(-10px);
    }
    70% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.awards {
    width: 100%;
    text-align: center;
}

.awards h1 {
    color: var(--red);
    margin: 0 auto;
    font-size: 3rem;
}

.awards hr {
    margin-bottom: 2rem;
}

.awards .accordion:nth-child(3) {
    border-radius: 20px 20px 0px 0px;
}

.awards .accordion:nth-child(11) {
    border-radius: 0px 0px 20px 20px;
}

.accordion {
    margin: auto;
    background-color: var(--background-alternate) !important;
    color: var(--foreground);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.5rem;
    transition: 0.4s;
    font-family: 'Baloo Tamma 2', cursive;
}

.accordion h1 {
    color: var(--foreground);
    font-size: 2rem;
}

.active {
    background: var(--background-alternate) !important;
}

.active h1 {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.active, .accordion:hover > h1 {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 15s ease infinite;
    -moz-animation: gradientAnimation 15s ease infinite;
    -o-animation: gradientAnimation 15s ease infinite;
    animation: gradientAnimation 15s ease infinite;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: 'Baloo Tamma 2', cursive;
    text-align: left;
}

.panel p {
    font-size: 1.2rem;
}

.panel p span {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.projects {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
}

.projects h1 {
    color: var(--green);
    margin: 0 auto;
    font-size: 3rem;
}

.projects-sub {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.projects-sub a {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
    text-decoration: none;
}

.project-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-item {
    background-color: var(--background-alternate);
    width: 420px;
    margin: 1rem 0;
    padding: 0.6rem 1.5rem 1rem 1.5rem;
    border-radius: 20px;
    text-align: left;
}

.project-item h1 {
    display: inline-block;
    color: white;
    font-size: 2rem;
    margin-bottom: 0;
}

.project-item h1:hover {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.project-item p {
    margin: 0;
}

.project-item img {
    display: inline-block;
    float: right;
    width: 2rem;
    margin-top: 0.6rem;
}

.teams {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
}

.teams h1 {
    color: var(--blue);
    margin: 0 auto;
    font-size: 3rem;
}

.teams p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.teams a button {
    width: 100%;
    background-color: var(--background-alternate);
    color: white;
    border: none;
    outline: none;
    padding: 1.5rem 0;
    margin: 1rem auto;
    border-radius: 20px;
}

.teams a button span {
    font-size: 2rem;
    font-family: 'Baloo Tamma 2', cursive;
}

.teams a button:hover {
    cursor: pointer;
}

.teams a button:hover span {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.teams a button:hover span {
    font-weight: bold;
}

.teams a button:hover i {
    background: linear-gradient(270deg, #ff6188, #fc9867, #ffd866, #00d787, #78dce8, #ab9df2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    -o-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

.underline {
    text-decoration: underline !important;
}

.no-underline {
    text-decoration: none !important;
}

::selection {
    background-color: var(--foreground);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #888;
}

::-webkit-scrollbar-thumb {
    background: var(--background-alternate);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-alternate);
}

@media screen and (max-width: 800px) {
    .navbar-logo {
        display: none;
    }

    nav {
        background: none;
    }

    .navbar {
        display: none;
        background-color: none;
    }

    .nav-shadow {
        box-shadow: none !important;
    }

    .navbar-mobile {
        display: flex;
    }

    .home {
        padding-top: 1.5rem;
        text-align: center;
    }

    .home h1 {
        font-size: 4rem;
    }

    .home h2 {
        display: none;
    }

    .home h3 {
        display: block;
        font-size: 1.5rem;
    }

    .accordion h1 {
        font-size: 1.5rem;
    }

    .social-icons svg {
        margin: auto 10px;
    }

    .social-icons a:nth-child(1) svg {
        width: 30px !important;
    }

    .social-icons a:nth-child(2) svg {
        width: 27px !important;
    }

    .social-icons a:nth-child(3) svg {
        width: 27px !important;
    }

    .social-icons a:nth-child(4) svg {
        width: 30px !important;
    }

    .projects-sub {
        font-size: 1.2rem;
    }

    .teams a button span {
        font-size: 1.5rem;
    }
}
