html,
body {
  background-color: #23262f;
  font-family: "Share Tech Mono", monospace;
  color: #00e5ee;
  scroll-behavior: smooth;
}

nav {
  margin: 0;
  height: 80px;
  background-color: #23262f;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #00e5ee;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 2rem;
  font-weight: bold;
  color: #00e5ee;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.parallax-image {
  height: 300px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(0, 120, 170, 1) 0%,
    rgba(0, 245, 255, 1) 49%,
    rgba(56, 187, 125, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
